* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: forestgreen;
  color: white;
}

header {
  display: flex;
  flex-flow: row wrap;
  background-color: orange;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

header > div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: darkorange;
  box-shadow: 2.5px 2.5px 5px 2.5px chocolate;
  border-radius: 20px;
  margin: 20px;
}

header > div > div {
  padding: 1.5em;
  text-align: center;
  font-size: clamp(1rem, 3vw, 2rem);
}

nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin: clamp(2rem, 4vw, 4rem);
}

article {
  font-size: clamp(1rem, 5vw, 2rem);
  width: 75%;
}

article section {
  margin: clamp(2rem, 4vw, 4rem) 0px;
}

article h3 {
  margin: 1.5rem 1.25rem;
  font-size: clamp(1.5rem, 6vw, 2.5rem);
}

article p {
  margin-bottom: 2rem;
}

article hr {
  border: 2px solid;
  border-radius: 20px;
}

ul {
  margin: 2rem 0 0 2rem;
}

ul li {
  margin-bottom: 0.75rem;
}

footer {
  margin: 100px 0px 0px 0px;
  padding: 15px;
  font-size: clamp(0.75rem, 4vw, 1.75rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: darkgreen;
  box-shadow: 0px -2px 40px 10px darkgreen;
  width: 100%;
}

footer div {
  flex: 33%;
  text-align: center;
  margin: 10px;
}

footer .copyright {
  flex: 100%;
}

footer a,
h4 a {
  text-decoration: underline;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  nav {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  nav a {
    margin-bottom: 20px;
  }
  article {
    width: 100%;
  }
  article hr {
    border: 1px solid;
  }
  footer {
    margin-top: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */
